shop/server/php/me.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='StockQuote' 
 targetNamespace='index.php/StockQuote' 
 xmlns:tns='index.php/StockQuote' 
 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
 xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
 xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
 xmlns='http://schemas.xmlsoap.org/wsdl/'> 


<message name='getCategoriesResponse'> 
 <part name='Result' type='xsd:string'/> 
</message> 

<message name='getGoodsRequest'> 
 <part name='start' type='xsd:int'/> 
 <part name='end' type='xsd:int'/> 
</message> 
<message name='getGoodsResponse'> 
 <part name='Result' type='xsd:string'/> 
</message>

<message name='getGoods2CategoriesRequest'> 
 <part name='idCategories' type='xsd:int'/> 
</message> 
<message name='getGoods2CategoriesResponse'> 
 <part name='Result' type='xsd:string'/> 
</message>


<message name='addOrderRequest'> 
 <part name='xmlString' type='xsd:string'/> 
</message> 
<message name='addOrderResponse'> 
 <part name='Result' type='xsd:boolean'/> 
</message>

<portType name='StockQuotePortType'> 
	
 <operation name='getCategories'> 
  <output message='tns:getCategoriesResponse'/> 
 </operation> 

<operation name='getGoods'> 
  <input message='tns:getGoodsRequest'/> 
  <output message='tns:getGoodsResponse'/> 
 </operation>

<operation name='getGoods2Categories'> 
  <input message='tns:getGoods2CategoriesRequest'/> 
  <output message='tns:getGoods2CategoriesResponse'/> 
 </operation>

<operation name='addOrder'> 
  <input message='tns:addOrderRequest'/> 
  <output message='tns:addOrderResponse'/> 
 </operation>
</portType> 


<binding name='StockQuoteBinding' type='tns:StockQuotePortType'> 
 <soap:binding style='rpc' 
  transport='http://schemas.xmlsoap.org/soap/http'/> 
  
<operation name='getGoods'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getQuote'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation>

<operation name='getCategories'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#test'/> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 

<operation name='getGoods2Categories'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getQuote'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation>
 
 
 <operation name='addOrder'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getQuote'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation>

</binding> 

<service name='StockQuoteService'> 
 <port name='StockQuotePort' binding='StockQuoteBinding'> 
     <soap:address location='%%SERVER%%'/> 
 </port> 
</service> 
</definitions> 
