shop/server/php/me.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tns="%%HOST%%/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             name="SmsWsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema elementFormDefault="qualified"
                   xmlns:tns="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="%%HOST%%/">
                   
           
            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element name="year" type="xs:int" minOccurs="1" maxOccurs="1" />
                    <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="engineSize" type="xs:decimal" minOccurs="0" maxOccurs="1" />
                    <xs:element name="maxSpeed" type="xs:int" minOccurs="0" maxOccurs="1" />
					<xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
					 <xs:element name="price" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					 <xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
            
			<xs:complexType name="miniInfo">
                <xs:sequence>
				    <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
                    <xs:element name="modelName" type="xs:string" minOccurs="0" maxOccurs="1" />
					<xs:element name="marka" type="xs:string" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
			
			<xs:complexType name="TypePayments">
                <xs:sequence>
				    <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1" />
					<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
			<xs:element name="ArrayCars">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cars" type="tns:miniInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
			<xs:element name="CarId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
			<xs:element name="RequestPayments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="paymentsEl" type="tns:TypePayments"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Сообщения процедуры Search -->
    <message name="CarRequest">
        <part name="Request" type="tns:Car"    />
    </message>
    
    <message name="SearchResponse">
        <part name="Response" element="tns:Response" />
    </message>
	
   	<message name="ArrayCars">
        <part name="Cars" element="tns:ArrayCars" />
    </message>
	
	<message name="PaymentsResponse">
        <part name="ResponsePay"  type="xs:int"  />
	</message>
	
	<message name="CarID">
        <part name="carid" type="xs:int"   />
    </message>
   
    <!-- Привязка процедуры к сообщениям -->
    <portType name="myFunctionsPortType">
        <operation name="SearchCar">
            <input message="tns:CarRequest" />
            <output message="tns:ArrayCars" />
        </operation>
		
		 <operation name="AllCars">
            <output message="tns:ArrayCars" />
        </operation>
		 
		
		 
		 <operation name="CarInfo">
            <input message="tns:CarID" />
            <output message="tns:CarRequest" />
        </operation>	 
		 
		  <operation name="Payments">
		    <input message="tns:CarID" />
            <output message="tns:PaymentsResponse" />
         </operation>
		 
    </portType>

 


    <!-- Формат процедур веб-сервиса -->
    <binding name="myFunctionsBinding" type="tns:myFunctionsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        
		<operation name="SearchCar">
            <soap:operation soapAction="" />
            <input>
			  <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		
		<operation name="AllCars">
            <soap:operation soapAction="" />
            
			<output>
                <soap:body use="literal" />
            </output>
        </operation>
		
		
		
		<operation name="CarInfo">
            <soap:operation soapAction="" />
            <input>
			  <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		
		<operation name="Payments">
            <soap:operation soapAction="" />
			
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		
    </binding>

    <!-- Определение сервиса -->
    <service name="CarsShop">
        <port name="CarsShopPort" binding="tns:myFunctionsBinding">
            <soap:address location="%%SERVER%%" />
        </port>
    </service>
</definitions>