shop/server/php/me.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='StockQuote' 
 targetNamespace='index.php/StockQuote' 
 xmlns:tns='index.php/StockQuote' 
 xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
 xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
 xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
 xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
 xmlns='http://schemas.xmlsoap.org/wsdl/'> 

<message name='getQuoteRequest'> 
 <part name='symbol' type='xsd:string'/> 
</message> 
<message name='getQuoteResponse'> 
 <part name='Result' type='xsd:float'/> 
</message> 

<message name='testRequest'> 
 <part name='teststring2' type='xsd:string'/> 
</message> 
<message name='testResponse'> 
 <part name='Result' type='xsd:string'/> 
</message> 


<portType name='StockQuotePortType'> 
 <operation name='getQuote'> 
  <input message='tns:getQuoteRequest'/> 
  <output message='tns:getQuoteResponse'/> 
 </operation>
 
 <operation name='test'> 
  <input message='tns:testRequest'/> 
  <output message='tns:testResponse'/> 
 </operation> 


</portType> 


<binding name='StockQuoteBinding' type='tns:StockQuotePortType'> 
 <soap:binding style='rpc' 
  transport='http://schemas.xmlsoap.org/soap/http'/> 
 <operation name='getQuote'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#getQuote'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation>

<operation name='test'> 
  <soap:operation soapAction='urn:xmethods-delayed-quotes#test'/> 
  <input> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </input> 
  <output> 
   <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
    encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
  </output> 
 </operation> 

</binding> 

<service name='StockQuoteService'> 
 <port name='StockQuotePort' binding='StockQuoteBinding'> 
     <soap:address location='http://192.168.56.88/soap/shop/server/php/index.php'/> 
 </port> 
</service> 
</definitions> 
